In [1]:
import pandas as pd

In [3]:
credit = pd.read_csv("UniversalBank.csv")

In [4]:
credit.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,?,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [5]:
credit.describe()

,ID,Age,Experience,Income,ZIP Code,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [6]:
credit.drop(['ID','ZIP Code'],inplace=True,axis=1)
credit.columns

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Personal Loan', 'Securities Account', 'CD Account',
       'Online', 'CreditCard'],
      dtype='object')

## Is Family as numeric attribute?

In [7]:
# credit[['Family']] = credit[['Family']].apply(lambda x: x.astype('category'))
credit[['Family','Education']] = credit[['Family','Education']].apply(lambda x: x.astype('category'))

In [8]:
credit.dtypes

Age                      int64
Experience               int64
Income                   int64
Family                category
CCAvg                  float64
Education             category
Mortgage                 int64
Personal Loan            int64
Securities Account       int64
CD Account               int64
Online                   int64
CreditCard               int64
dtype: object

In [9]:
# credit_dummies = pd.get_dummies(credit, columns=['Family'])
credit_dummies = pd.get_dummies(credit, columns=['Family','Education'])
credit_dummies.head()

,Age,Experience,Income,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Family_1,Family_2,Family_3,Family_4,Family_?,Education_1,Education_2,Education_3
0,25,1,49,1.6,0,0,1,0,0,0,0,0,0,0,1,1,0,0
1,45,19,34,1.5,0,0,1,0,0,0,0,0,1,0,0,1,0,0
2,39,15,11,1.0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
3,35,9,100,2.7,0,0,0,0,0,0,1,0,0,0,0,0,1,0
4,35,8,45,1.0,0,0,0,0,0,1,0,0,0,1,0,0,1,0

In [10]:
credit['CreditCard'].value_counts()

0    3530
1    1470
Name: CreditCard, dtype: int64

In [11]:
X = credit_dummies[credit_dummies.columns.difference(['CreditCard'])]
y = credit_dummies['CreditCard']

In [12]:
from sklearn.preprocessing import StandardScaler
standardizer = StandardScaler()
standardizer.fit(X)
std_features = standardizer.transform(X)
X = pd.DataFrame(std_features, index=X.index, columns=X.columns)

/home/sagar/miniconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/sagar/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [13]:
X.describe()

,Age,CCAvg,CD Account,Education_1,Education_2,Education_3,Experience,Family_1,Family_2,Family_3,Family_4,Family_?,Income,Mortgage,Online,Personal Loan,Securities Account
count,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03
mean,-2.131628e-18,-6.394885e-17,2.131628e-17,-6.536993e-17,1.634248e-17,-1.136868e-17,-1.179501e-16,2.202682e-17,5.115908e-17,1.136868e-17,1.421085e-18,1.278977e-17,1.449507e-16,-5.613288e-17,4.121148e-17,-4.973799e-17,-2.273737e-17
std,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00
min,-1.948906e+00,-1.108987e+00,-2.535403e-01,-8.495664e-01,-6.245376e-01,-6.549654e-01,-2.014911e+00,-6.459362e-01,-5.915167e-01,-5.031231e-01,-5.684200e-01,-1.414355e-02,-1.428969e+00,-5.555239e-01,-1.216618e+00,-3.258753e-01,-3.414233e-01
25%,-9.019702e-01,-7.084116e-01,-2.535403e-01,-8.495664e-01,-6.245376e-01,-6.549654e-01,-8.812043e-01,-6.459362e-01,-5.915167e-01,-5.031231e-01,-5.684200e-01,-1.414355e-02,-7.554825e-01,-5.555239e-01,-1.216618e+00,-3.258753e-01,-3.414233e-01
50%,-2.952359e-02,-2.506106e-01,-2.535403e-01,-8.495664e-01,-6.245376e-01,-6.549654e-01,-9.121982e-03,-6.459362e-01,-5.915167e-01,-5.031231e-01,-5.684200e-01,-1.414355e-02,-2.123482e-01,-5.555239e-01,8.219509e-01,-3.258753e-01,-3.414233e-01
75%,8.429230e-01,3.216407e-01,-2.535403e-01,1.177071e+00,1.601185e+00,1.526798e+00,8.629604e-01,1.548141e+00,1.690569e+00,-5.031231e-01,-5.684200e-01,-1.414355e-02,5.263146e-01,4.375576e-01,8.219509e-01,-3.258753e-01,-3.414233e-01
max,1.889859e+00,4.613525e+00,3.944146e+00,1.177071e+00,1.601185e+00,1.526798e+00,1.996667e+00,1.548141e+00,1.690569e+00,1.987585e+00,1.759262e+00,7.070361e+01,3.263712e+00,5.688108e+00,8.219509e-01,3.068659e+00,2.928915e+00

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [21]:
print('X_train',X_train.shape)
print('y_train',y_train.shape)
print('X_test',X_test.shape)
print('y_test',y_test.shape)

X_train (3500, 17)
y_train (3500,)
X_test (1500, 17)
y_test (1500,)

In [22]:
# from sklearn.utils import resample

# df_majority = X_train[credit_dummies.CreditCard==0]
# df_minority = credit_dummies[credit_dummies.CreditCard==1]

# df_minority_upsampled = resample(df_minority, 
#                                  replace=True,     # sample with replacement
#                                  n_samples=2576,    # to match majority class
#                                  random_state=123) 

# df_upsampled = pd.concat([df_majority, df_minority_upsampled])
# print(df_upsampled['CreditCard'].value_counts())

# X = df_upsampled[df_upsampled.columns.difference(['CreditCard'])]
# y = df_upsampled['CreditCard']
# print(X.shape)
# print(y.shape)

In [23]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_jobs=2)

## Base classifier with k=5

In [25]:
knn_base = KNeighborsClassifier(n_neighbors=5)
knn_base.fit(X_train, y_train)
knn_base.score(X_test,y_test)

0.708

In [30]:
y_test.dtypes

dtype('int64')

In [59]:
import numpy as np
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import auc

train_acc = []
test_acc = []
train_recall = []
test_recall = []
train_f1 = []
test_f1 = []

for i in np.arange(1,51,4):
    knn_base = KNeighborsClassifier(n_neighbors=i)
    knn_base.fit(X_train, y_train)
    
    train_pred = knn_base.predict(X_train)
    test_pred = knn_base.predict(X_test)
    
    train_acc.append(knn_base.score(X_train,y_train))
    test_acc.append(knn_base.score(X_test,y_test))
    
    train_recall.append(recall_score(y_train,train_pred))
    test_recall.append(recall_score(y_test,test_pred))
    
    train_f1.append(f1_score(y_train,train_pred))
    test_f1.append(f1_score(y_test,test_pred))

In [60]:
pd.DataFrame({"K":np.arange(1,51,4), 'Train Acc':train_acc, 'Test Acc':test_acc,'Train Recall': train_recall, 'Test Recall': test_recall, 'Train F1': train_f1, 'Test F1': test_f1},
            columns = ['Train Acc','Test Acc','Train Recall','Test Recall','Train F1','Test F1'])

    Train Acc  Test Acc  Train Recall  Test Recall  Train F1   Test F1
0    0.998286  0.635333      0.997124     0.402810  0.997124  0.386083
1    0.779714  0.708000      0.437200     0.313817  0.541889  0.379603
2    0.759143  0.717333      0.316395     0.236534  0.439122  0.322684
3    0.752000  0.723333      0.269415     0.208431  0.393007  0.300169
4    0.745143  0.729333      0.227229     0.173302  0.346999  0.267148
5    0.739429  0.743333      0.193672     0.177986  0.306991  0.283054
6    0.739714  0.745333      0.179291     0.175644  0.291051  0.281955
7    0.737143  0.748667      0.164909     0.170960  0.272152  0.279159
8    0.736857  0.750667      0.163950     0.166276  0.270784  0.275194
9    0.737429  0.748000      0.158198     0.163934  0.264211  0.270270
10   0.737429  0.748667      0.158198     0.163934  0.264211  0.270793
11   0.737143  0.748667      0.156280     0.163934  0.261637  0.270793
12   0.735429  0.748667      0.152445     0.163934  0.255627  0.270793

In [61]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import make_scorer
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

knn = KNeighborsClassifier(n_jobs=2)

scoring = {'Recall': make_scorer(recall_score), 'F1':make_scorer(f1_score)}
param_grid = {'n_neighbors': np.arange(3,51,2),
             'p': [1,2],
             'weights':['uniform','distance'],
             'leaf_size':np.arange(10,500,10),
             'algorithm':['ball_tree','kd_tree','brute']}

rsearch = RandomizedSearchCV(estimator=knn, scoring=scoring, param_distributions=param_grid,refit='F1', n_iter=10,cv=5)
rsearch.fit(X_train, y_train)

print('Train Score',rsearch.best_score_)
print(rsearch.best_estimator_)
print('Test Score',rsearch.score(X_test, y_test))

Train Score 0.365017090993598
KNeighborsClassifier(algorithm='kd_tree', leaf_size=330, metric='minkowski',
           metric_params=None, n_jobs=2, n_neighbors=7, p=2,
           weights='uniform')
Test Score 0.3267776096822996

In [62]:
from sklearn.metrics import confusion_matrix

test_pred = rsearch.predict(X_test)
confusion_matrix(y_test,test_pred)

array([[947, 126],
       [319, 108]])

In [64]:
print("F1=",f1_score(y_test,test_pred))
print("Recall=",recall_score(y_test,test_pred))

F1= 0.3267776096822996
Recall= 0.2529274004683841

In [66]:
predictions = pd.DataFrame(rsearch.predict(X_test))
predictions.head()

   0
0  0
1  0
2  0
3  0
4  0

In [67]:
predictions.iloc[:,0].value_counts()

0    1266
1     234
Name: 0, dtype: int64